$barlow-font: 'Barlow', sans-serif;
$orbitron-font: 'Orbitron Variable', sans-serif;

$color-black: #000000;
$color-white: #ffffff;
$color-primary: #08CB7B;
$color-secondary: #94CB53;
$color-link: #EBEBEB;
$bg-card: #30405F;
$color-info: #FF9933; 
$color-star: #ffba00;
